@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

body{

    background-color: #272727;
    font-family: "Kufam", sans-serif;

}


#main{
    border: 2px solid;
    border-color: aqua;
    margin: auto;
    width: 45%;
    min-height: 50vh;
    padding: 10px;
    text-align: center;
}

h1{
    padding-top: 15px;
    font-size: 48px;
    color: #fff;
}



#csvPicker {
    display: block;
    margin: 20px auto;
}

#csvPicker{
    display: none;
}


label {
    display: block;

    background-color: #4caf4f00;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}