<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RaportBMI</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('css', filename='style.css') }}">
</head>
<body>

<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="column"><div class="div-4">Raport BMI</div></div>
      <div class="column-2">
        <div class="div-5">
          <div class="div-6">Wcześniejsze raporty:</div>
          <div class="div-7">2024.csv</div>
          <div class="div-8">data.csv</div>
          <div class="div-9">2023.csv</div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-10">
    <div class="div-11">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e8d43de906706e6932401f2dc64084f3cc714006ea9ab9c8b48a5b11806df81c?"
        class="img"
      />
      <div class="div-12">
        Kliknij lub przerzuć plik
        <br />
        by wygenerować raport
      </div>
    </div>
  </div>
  <div class="div-13">Przejdź do raportu</div>
</div>


</body>
</html>

