<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generator Raportów BMI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='dragDrop.js') }}"></script>
</head>
<body>



<div id="main">  
    <div id="box1">
        <div id="ra">Wcześniejsze raporty:</div>
            <ul>
                {% for file in files %}
                <li><a href="/reports/{{ file }}">{{ file }}</a></li>
                {% endfor %}
            </ul>
    </div>
    <div id="title">MBMI</div>
</div>


<div id="drop_zone">
	<img src="../static/csvFile.svg">
    <p id="drop_zone_text">Kliknij lub przerzuć plik<br>by wygenerować raport</p>
    <input type="file" id="file_input" style="display: none;" accept=".csv">
 </div>
 
 <div id="button">
    <form action="{{ url_for('execute') }}" method="post">
    	<button id="upload_button" type="submit" disabled>Przejdź do raportu</button>
    </form>
 </div>


</body>
</html>