<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generator Raportów BMI</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div id="main">
    <h1>Raport BMI</h1>
    <div id="pickerBox" for="csvPicker">
        <img src="../static/csvFile.svg" alt="">
    
    <label for="csvPicker">
        <input type="file" name="csvPicker" id="csvPicker" accept=".csv">
        <p>Kliknij lub przerzuć plik <br>by wygenerować raport</p>
    </label>
    </div>

</div>



<div id="side"></div>

</body>
</html>